*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    max-width: 100%;
}
body {
    background: linear-gradient(to bottom right,rgb(45,200,500),teal,rgb(45,200,500));
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Style Script', cursive;
}
.navbar{
    width: 100%;
    padding: 15px 40px;
    margin: auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 30px black;
    justify-content: space-between;
    background: linear-gradient(to bottom right,rgb(45,200,500),teal,rgb(45,200,500));
    font-family: 'Style Script', cursive;
}
.navbar .logo {
    color: black;
    font-size: 30px;
    font-weight: 800;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: black;
    font-size: 20px;
    font-weight: 800;
    margin-left: 20px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color:white;
}
.header{
    text-align: center;
    padding: 5vh;
}
.header .heading{
    font-family: 'Style Script', cursive;
    font-size: 25px;
    font-weight: bold;
    animation: animate 2s 1;
}
.header .heading span{
    font-size: 35px;
    color:white
}
.header .heading p{
    font-size: 30px;
    color:white
}
.header .profile{
    max-width: 40%;
    margin-left: 30%;
    margin-right: 25%;
    padding-top: 10vh;
    padding-bottom: 5vh;
}
.header .profile img{
    border-radius: 50%;
}
@keyframes animate{
    0%{
        opacity: 0;
        color: white;
    }
    60%{
        opacity: 1;
        letter-spacing: 2px;
    }
}

.box {
    box-shadow: -10px 10px 40px rgb(3 39 39);
    border-radius: 10px;
    width: 80%;
    font-family: 'Style Script', cursive;
    text-align: center;
    margin: 30px auto 25px;
    border: solid teal 0.5px;
    background: linear-gradient(to bottom right,rgb(45,200,500),teal,rgb(45,200,500));
}
.section .tech-list{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.section .tech-list li{
    list-style: none;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 20px;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    transition: color 0.3s ease;
}
.section .tech-list li:hover{
    color:white;
}
.section .tech{
    display:block;
    text-align: center;
    padding: 20px;
   font-size: 30px;
   font-weight: 800;
}
.section .links{
    display: inline-block;
    text-align: center;
    max-width: 145px;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    transition: color 1s ease;
    
}
.primary-button{
    color: white;
    background-color: black;
    border: black solid;
}
.secondary-button{
    color: black;
    background-color: white;
    border: black solid;
}
.primary-button:hover{
    color: black;
    background-color: white;
    border: black solid;
}
.secondary-button:hover{
    color: white;
    background-color: black;
}
.footer{
    width: 100%;
    box-shadow: -10px 0px 30px black;
    background: linear-gradient(to bottom right,rgb(45,200,500),teal,rgb(45,200,500));
}
.footer .contacts{
    text-align: center;
}
.footer .contacts li{
    list-style: none;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 20px;
}
.footer .contacts li a{
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    transition: color 0.3s ease;
}
.footer .contacts li a:hover{
    color:white;
}
.footer .Connect{
    display:block;
    text-align: center;
    padding-top: 20px;
   font-size: 30px;
   font-weight: 700;
   font-family: 'Style Script', cursive;;
}
.section .blog-area{
    padding: 10px 50px;
    text-align: start;
    font-weight: 550;
}
.highlight{
    font-weight: bolder;
    font-size: large;
    color: white;
}
.syntax{
    color: rgb(150, 55, 38);
}
#more1, #more2{
    display:none;
    color: black;
}
.btn{
    text-align: center;
    font-family: 'Style Script', cursive;
}
span{
    color: white;
}
#dots1 , #dots2{
    color: black;
}